@import url("variables.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
}

main{
    display: flex;
    height: 100vh;
}

.image_text { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-weight: bold;
    z-index: 1;
}

#img-main::after{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.7);
}

#img-main{
    width: 65%;
    position: relative;
}

#img-main img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-description {
    font-size: 25px;
    width: 100%;
}

.project-title {
    margin-bottom: 30px;
    font-size: 50px;
    color: #FF7B00;
}

#login {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    align-content: center;
    flex-direction: column;
}

#form-login{
    width: 70%;
}


#title-form{
    width: 100%;
    text-align: center;
    
    margin-bottom: 20px;
}

#title-form p{
    font-size: 28px;
    font-weight: bold;
    color: #333;
    text-align: center;
}



.input-form{
    margin-bottom: 15px;
}

.input-form input{
    width: 100%;
    padding: 12px;
    border: 1px solid var(--light-orange);
    border-radius: 4px;
    font-size: 14px;
}


#button-form button{
    width: 100%;
    padding: 12px;
    border: none;
    background-color: var(--primary-orange);
    color: var(--white);
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
}

#button-form button:hover{
    background-color: #FF7B00;
}

#links-tab {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

#remember-me-checkbox {
    margin-bottom: 10px;
}

.checkbox-and-links {
    font-size: 15px;
}

a {
    color: #FF7B00;
}

@media (max-width: 768px) {
    main {
        flex-direction: column-reverse;
    }

    #img-main {
        width: 100%;
        height: 40vh;
    }

    #login {
        width: 100%;
        height: 60vh;
    }

    .project-description {
        font-size: 20px;
    }

    .project-title {
        font-size: 30px;
    }
}

.input-form:focus{
    outline: 0.5px solid var(--primary-orange)
}