#table-section h2 {
    color: var(--primary-orange);
    font-size: 1.8em;
    margin-bottom: 25px;
    font-weight: 600;
    border-bottom: 2px solid var(--light-orange);
    padding-bottom: 10px;
}

#tasks-table {
    width: 100%;
    border-collapse: collapse;
}

#tasks-table thead th {
    background-color: var(--light-orange);
    color: var(--primary-orange);
    text-align: left;
    padding: 15px;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
    border-bottom: 2px solid var(--primary-orange); 
}

#tasks-table tbody td {
    padding: 15px;
    border-bottom: 1px solid var(--border-color); 
    color: var(--dark-text);
}

#tasks-table tbody tr:last-child td {
    border-bottom: none; 
}

.functions-button-row {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
    border: none;
    border-radius: 6px; 
    cursor: pointer;
    margin-right: 8px; 
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.functions-button-row:active {
    transform: scale(0.96);
}


#edit-task-btn {
    background-color: var(--primary-orange); ; 
    color: white;
}

#delete-task-btn {
    background-color: #ef4444;
    color: white;
}

